@import '../../theme';

.bug { 
  background: $gossip;
}

.electric {
  background: $yellow-sunshine;
}

.fairy {
  background: $pink-herbert;
}

.fire {
  background: $atomic-tangerine;
}

.flying {
  background: $malibu;
}

.ghost {
  background: $almond;
}

.grass {
  background: $pastel-green;
}

.ice {
  background: $onahau;
}

.normal {
  background: $alto;
}

.poison {
  background: $viola;
}

.psychic {
  background: $cherokee;
}

.water {
  background: $bright-turquoise;
}

.fighting, .dark, .glass, .dragon, .ground, .rock, .steel {
  background: $wafer;
}
