$almond: #EDDCC8;
$alto: #DFDFDF;
$athens-gray: #F6F7F9;
$atomic-tangerine: #FF9A6B;
$black: #000;
$blue-jeans: #67c5f0;
$bright-turquoise: #07D6F2;
$buttered-rum: #aa830c;
$cherokee: #FACD86;
$coconut: #FDFDFD;
$concrete: #F2F2F2;
$corn: #F2B807;
$corn1: #F2CB07;
$cultured-pearl: #F5F5F5;
$eerie-black: #212121;
$gossip: #DFF7B0;
$grey-dark: #00000080;
$grey-light: #e4e1e196;
$malibu: #5EBDFC;
$mocha: #732119;
$nobel: #b4b4b4;
$onahau: #C0E6FF;
$overlay-background: #00000080;
$pastel-green: #73D677;
$pink-herbert: #F89EAE;
$punch: #D93E30;
$ripe-lemon: #F5DB13;
$shadow-dark: #00000066;
$shadow-light: #2121211a;
$shadow: #011c4033;
$tall-poppy: #B33327;
$tundora: #4B4B4B;
$viola: #CC83BF;
$wafer: #DEC3C3;
$white: #FFFFFF;
$yellow-sunshine: #FFEE00;

:export {
  almond: $almond;
  alto: $alto;
  athensGrey: $athens-gray;
  atomicTangerine: $atomic-tangerine;
  black: $black;
  blueJeans: $blue-jeans;
  brightTurquoise: $bright-turquoise;
  butteredRum: $buttered-rum;
  cherokee: $cherokee;
  coconut: $coconut;
  concrete: $concrete;
  corn: $corn;
  corn1: $corn1;
  culturedPearl: $cultured-pearl;
  eerieBlack: $eerie-black;
  gossip: $gossip;
  greyDark: $grey-dark;
  greyLight: $grey-light;
  malibu: $malibu;
  mocha: $mocha;
  nobel: $nobel;
  onahau: $onahau;
  pastelGreen: $pastel-green;
  pinkHerbert: $pink-herbert;
  punch: $punch;
  ripeLemon: $ripe-lemon;
  tallPoppy: $tall-poppy;
  tundora: $tundora;
  viola: $viola;
  wafer: $wafer;
  yellowSunshine: $yellow-sunshine;
}