@import '../../theme';

.auth-btn {
  height: 42px;
  width: 170px;
}

.login-btn {
  background: $pastel-green;
}

.logout-btn {
  background: $blue-jeans;
}

@media (max-width: 768px) {
  .auth-btn {
    width: 300px;
    height: 50px;
    font-size:20px;
  }
}
